 <ul class="list-unstyled">
    <% favs.each do |fav| %>
      <li class="media">
        <img class="mr-2 rounded" src="<%= gravatar_url(@user, { size: 50 }) %>" alt="">
        <div class="media-body">
        <div>
          <%= link_to fav.user.name, user_path(fav.user) %> <span class="text-muted">posted at <%= fav.created_at %></span>
        </div>
          <div>
            <%= fav.content %>
          </div>
          <div>
            <%= render 'favorites/favorite_button', micropost: fav %>
          </div>  
        </div>
      </li>
    <% end %>
 </ul>
